{% extends "design/responsivebase.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b> Black Revolve</b></h5>
        <p class="card-text">Price: Rs.9000.00 </p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product2.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Band</b></h5>
        <p class="card-text"> Price: Rs.3000.00 </p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product3.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black 360</b></h5>
        <p class="card-text">Price: Rs.5000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product4.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Horizon</b></h5>
        <p class="card-text">Price: Rs.25000.00 </p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product5.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Note6</b></h5>
        <p class="card-text"> Price: Rs.35000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product6.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Mini</b></h5>
        <p class="card-text">Price: Rs.5000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product7.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Bass Head</b></h5>
        <p class="card-text">Price: Rs.4000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product8.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black TWS</b></h5>
        <p class="card-text">Price: Rs.7000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product9.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black 11 in 1</b></h5>
        <p class="card-text"> Price: Rs.6000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product10.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black Z6 Chip</b></h5>
        <p class="card-text"> Price: Rs.25000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product11.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black power bank</b></h5>
        <p class="card-text">Price: Rs.2,000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/product12.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Black neck band</b></h5>
        <p class="card-text">Price: Rs.2000.00</p>
    </div>
    </div>
</div>
{% endblock  %}